<mat-card>
  <mat-card-header>
    <mat-card-title>Inbox</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <aside>
      <div
        class="bar"
        [style.transform]="chatBarTransform()"
        [style.height]="itemHeight"
        [hidden]="!chatBarTransform()"
      ></div>

      <ul>
        @for (chat of chats(); track chat.id) {
        <li>
          <a
            mat-button
            routerLink
            [queryParams]="{ chat: chat.id }"
            [style.height]="itemHeight"
          >
            {{ chat.user.name }}
          </a>
        </li>
        }
      </ul>
    </aside>

    <article></article>

    <aside></aside>
  </mat-card-content>
</mat-card>
