<div class="container">
  <button (click)="toogleLayout()">a</button>
  <mat-card>
    <aside class="left-panel">
      <div
        class="bg-primary bar"
        [style.transform]="chatBarTransform()"
        [style.height]="itemHeight"
        [hidden]="!chatBarTransform()"
      ></div>

      <ul>
        @for (chat of chats(); track chat.id) {
        <li>
          <a
            routerLink
            [queryParams]="{ chat: chat.id }"
            [style.height]="itemHeight"
          >
            <app-chat-preview [name]="chat.user.name" [content]="'wosi'" />
          </a>
        </li>
        }
      </ul>
    </aside>

    <div class="article-place"></div>

    <div
      class="article-wrapper"
      [class]="deckMode() === DECK_LAYOUT.Preview ? 'right' : 'left'"
    >
      <article>
        @if (chatData(); as chatData) {
        <header>
          <h2>{{ chatData.chat.user.name }}</h2>
        </header>

        <div class="chat-content">
          @if (chatData.chat$ | async; as chat) {
          <app-chat-messages [messages]="chat.messages"></app-chat-messages>
          } @else { ...Loading }
        </div>
        }
      </article>
    </div>

    <aside class="right-panel"></aside>
  </mat-card>
</div>
