@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  app-meeting {
    --bg-card: #{mat.get-theme-color($theme, background, card)};
    --bg-header: #{mat.get-theme-color($theme, primary)};
    --text-header: #fff;

    --text-secondary: #{mat.get-theme-color($theme, foreground, text-secondary)};

    --other-bg-color: #{mat.get-theme-color($theme, background, card)};
    --other-text-color: #{mat.get-theme-color($theme, foreground, text)};

    --me-bg-color: #{mat.get-theme-color($theme, accent)};
    --me-text-color: #fff;
  }
}

@mixin theme($theme) {
  @include color($theme);
}
