.layout {
  display: grid;
  grid-template-columns: minmax(30rem, 2fr) 5fr;

  height: 100%;
  padding: 1rem;
}

app-chat {
  height: 100%;
}

.info {
  background: var(--bg-card);
  display: grid;
  gap: 0.3rem;
}

ul {
  display: grid;
  gap: 0.2rem;
}

.client-info {
  padding: 1rem;
  display: grid;
  gap: 1rem;

  .img-container {
    height: 100%;
    aspect-ratio: 1;

    padding: 1rem;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  header {
    display: grid;
    place-content: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    text-align: center;
  }

  .client-name {
    color: var(--text-secondary);
  }

  li {
    strong {
      font-weight: bold;
      margin-right: 0.5rem;
    }
  }

  button {
    width: 100%;
  }

  .client-data-list {
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr auto;
  }

  ul {
    display: grid;
    gap: 0.2rem;
    grid-auto-rows: min-content;
  }

  .data-list-layout {
    display: grid;
    grid-template-rows: min-content min-content 1fr auto;
    gap: 0.5rem;
  }

  hr {
    border: 0;
    height: 1px;
    width: 90%;
    background: rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 1092px) {
  .client-info {
    grid-template-columns: auto 1fr;
  }
}

.annotations {
  ul {
    display: grid;
    gap: 0.3rem;
    overflow-y: auto;
    height: 100%;
    grid-auto-rows: min-content;
  }

  li {
    display: grid;
    gap: 0.4rem;
    padding: 1rem;
  }

  .annotation-subcontent {
    font-size: 0.8rem;
    text-align: end;
    color: var(--text-secondary);
  }

  .annotation-body {
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 1fr auto;
  }
}
