header {
  padding: 1rem 2rem;
  background: var(--bg-card);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.actions {
  display: flex;
  gap: 0.2rem;
}

footer {
  padding: 1rem;
  background: var(--bg-card);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.chat-content {
  margin: 2px 0;

  height: 73.8vh; // TODO: fix this
  overflow-y: auto;

  app-chat-messages {
    padding: 0.5rem 1rem;
    display: block;
  }
}

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.logo-container {
  height: 1.5rem;
  aspect-ratio: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.meeting-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
