.message {
  display: grid;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  width: fit-content;

  background-color: var(--other-bg-color);
  color: var(--other-text-color);
}

:host.is-me {
  display: flex;
  justify-content: flex-end;

  .message {
    background-color: var(--me-bg-color);
    color: var(--me-text-color);
  }
}

.sub-content {
  text-align: end;
  font-size: 0.8rem;
}
